@use "sass:color";

$ankiWindowMinWidth: 200px;
$ankiWindowPreferredWidth: 265px;
$ankiWindowHeight: 560px;

.flashcards-demo-container {
    line-height: normal;
}

@media (max-width: $ankiWindowPreferredWidth) {
    .anki-window-frame {
        width: 100%;
    }
}

.anki-window-frame {
    min-width: $ankiWindowMinWidth;
    height: $ankiWindowHeight;
    width: $ankiWindowPreferredWidth;

    margin: 0 auto;
}

.window-bottom-content {
    display: flex;
    flex-direction: row;

    padding: 10px 10px;
    gap: 7px;
}

.flashcard {
    text-align: center;
    font-size: large;

    .playAudio {
        width: 20px;
        height: 20px;
        padding: 12px; // for easier clicking/tapping

        opacity: 0.7;
        cursor: pointer;

        user-select: none;

        &:hover {
            opacity: 1;
            transform: scale(1.1); // macOS-like scale effect
            transition: transform 0.1s ease-in-out;
        }
    }

    .playAudioCustom {
        cursor: pointer;
    }

    $imagePadding: 10px;
    .illustration {
        display: block;

        width: calc(100% - 2 * $imagePadding);
        margin: 8px auto 0 auto;
    }

    .usageExample {
        margin-top: 10px;
        padding: 0 $imagePadding;
        font-size: 16px;

        font-style: italic;
    }

    .sentenceExampleTranslated {
        margin-top: 4px;
        color: #888;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    .flashcard {
        .playAudio {
            filter: invert(100%);
            opacity: 0.9;
        }
    }
}
