@use "sass:color";

$ankiWindowMinWidth: 200px;
$ankiWindowPreferredWidth: 275px;
$ankiWindowHeight: 500px;

.flashcards-demo-container {
    line-height: normal;
}

@media (max-width: $ankiWindowPreferredWidth) {
    .anki-window-frame {
        width: 100%;
    }
}

.anki-window-frame {
    min-width: $ankiWindowMinWidth;
    height: $ankiWindowHeight;
    width: $ankiWindowPreferredWidth;

    margin: 0 auto;
}

.window-bottom-content {
    display: flex;
    flex-direction: row;

    padding: 10px 10px;
    gap: 7px;
}

.flashcard {
    color: #000;
    text-align: center;
    font-size: large;

    .illustration {
        display: block;

        width: 90%;
        margin: 8px auto 0 auto;
    }

    .playAudio {
        width: 20px;
        height: 20px;
        padding: 12px; // for easier clicking/tapping

        opacity: 0.7;
        cursor: pointer;

        user-select: none;

        &:hover {
            opacity: 1;
            transform: scale(1.1); // macOS-like scale effect
            transition: transform 0.1s ease-in-out;
        }
    }
}
