@use "sass:color";

$ankiWindowMinWidth: 200px;
$ankiWindowPreferredWidth: 90vw;
$ankiWindowMaxWidth: 8.4cm;

$ankiWindowMinHeight: 570px;
$ankiWindowPreferredHeight: 630px;
$ankiWindowMaxHeight: 11cm;

.flashcards-demo-container {
    line-height: normal;
}

.anki-window-frame {
    width: $ankiWindowPreferredWidth;
    min-width: $ankiWindowMinWidth;
    max-width: $ankiWindowMaxWidth;

    height: $ankiWindowPreferredHeight;
    min-height: $ankiWindowMinHeight;

    margin: 0 auto;

    .alert {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
}

.window-bottom-content {
    display: flex;
    flex-direction: row;

    padding: 10px 10px;
    gap: 7px;
}

.flashcard {
    text-align: center;
    font-size: large;

    .playAudio {
        width: 20px;
        height: 20px;
        padding: 10px; // for easier clicking/tapping

        opacity: 0.7;
        cursor: pointer;

        user-select: none;

        &:hover {
            opacity: 1;
            transform: scale(1.1); // macOS-like scale effect
            transition: transform 0.1s ease-in-out;
        }
    }

    .playAudioCustom {
        cursor: pointer;
    }

    $imagePadding: 20px;
    .illustration {
        display: block;

        width: calc(100% - 2 * $imagePadding);
        margin: 0 auto 0 auto;
    }

    .usageExample {
        margin-top: 10px;
        padding: 0 $imagePadding;
        font-size: 16px;

        font-style: italic;
    }

    .sentenceExampleTranslated {
        margin-top: 4px;
        color: #888;
    }

    .remarks {
        margin-top: 20px;
        font-size: 16px;
    }

    .remarks-content {
        font-style: italic;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    .flashcard {
        .playAudio {
            filter: invert(100%);
            opacity: 0.9;
        }
    }
}

// on mobile screens, let's make the container take full size of the screen
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    html {
        width: 100vw;
        height: 100vh;
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        //align-items: center;
        margin-top: 1.5cm;

        //but prevent from showing scrollbars
        overflow: hidden;
    }
}
