nav.deck-preview-toolbar {
    $padding: 10px;
    position: fixed;
    bottom: $padding;
    right: $padding;
    padding: $padding;
    user-select: none;

    a {
        text-decoration: none;
    }
}
